{% extends 'base.html.twig' %}

{% block body %}
    <header>
        <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
            <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
                <span class="fs-4">Super paczka</span>
            </a>

            <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
                <a class="me-3 py-2 text-dark text-decoration-none" href="#">O nas</a>
                <a class="me-3 py-2 text-dark text-decoration-none" href="#">Kurierzy</a>
                <a class="me-3 py-2 text-dark text-decoration-none" href="#">Pomoc</a>
                <a class="py-2 text-dark text-decoration-none" href="#">Cennik</a>
            </nav>
        </div>

        <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
            <h1 class="display-4 fw-normal">Paczka zamówiona</h1>
{#            <p class="fs-5 text-muted">Aby zamówić paczkę. Uzupełnij wszystkie wymagane dane</p>#}
        </div>
    </header>

    <main class="text-center">

        <h1>Dziękujemy za wybranie naszej firmy</h1>
    </main>

{% endblock body %}